<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liftyourlife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/open_screen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiftYourLife">
        <activity android:name=".User.Statistics"></activity>
        <activity android:name=".User.ChangePassword" />
        <activity android:name=".User.WorkOutUpdate" />
        <activity android:name=".User.MyWorkOut" />
        <activity android:name=".User.Profile" />
        <activity android:name=".Guest.ResetPassword" />
        <activity android:name=".User.Home" />
        <activity android:name=".Guest.CreateAccount" />
        <activity android:name=".Guest.SignIn" />
        <activity android:name=".Guest.Contact" />
        <activity android:name=".Guest.About" />
        <activity android:name=".Guest.LiftYourLife" />
        <activity android:name=".OpeningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>